<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
    <title>Email</title>
</head>

<body>

    <p>You have receive a message from contact page, from <%= "#{ @name }, #{ @email }." %></p>
    <p><%= @body %></p>
</body>
</html>